<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>The Library</title>
</head>

<body>
  <h1>Wow, look at all these fkn books...</h1>
  {{range .Books}}
    <li>{{.}}</li>
  {{end}}
</body>

</html>