<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Contact</h1>
    <form method="POST" action="/users">
      <label for="name">User Name:</label>
      <input type="text" name="name" required>

      <button type="submit">Submit</button>
    </form>

    <hr>
    <button id="patch-btn">Make a Patch Request!</button>
    <section id="http-response">
    <section>

    <script src="/assets/js/contact.js"></script>
  </body>
</html>